/* ScrollBox.css */
.container {
  display: flex;
  flex-direction: column; /* Display in columns */
  gap: 20px; /* Adjust the gap between rows */
  border-top: 5px solid #ccc;
}

.row {
  display: flex;
  gap: 20px; /* Adjust the gap between images in a row */
}

.scroll-box-container {
  flex: 1; /* Take up available space */
  width: 47vw;
  margin: 1vw;
}

.scroll-box {
  flex: 1; /* Take up available space */
  height: 20vw;
  width: 46vw;
  border: 1px solid #ccc;
  overflow-y: auto;
}

img {
  width: 1.5em; /* Set the width of the image to 100% of the container */
  height: 1.5em;
  height: auto;
}