/* ScrollBox.css */
.container {
  display: flex;
  flex-direction: column; /* Display in columns */
  gap: 20px; /* Adjust the gap between rows */
}

.row {
  display: flex;
  gap: 20px; /* Adjust the gap between images in a row */
}

.scroll-box-container {
  flex: 1; /* Take up available space */
  width: 47vw;
  border: 1px solid #ccc;
  margin: 1vw;
}

.scroll-box {
  flex: 1; /* Take up available space */
  width: 47vw;
  border: 1px solid #ccc;
  margin: 1vw;
}

img {
  width: 100px; /* Set the width of the image to 100% of the container */
  height: 100px;
  height: auto;

}