.main-title {
  text-align: left;
  font-size: 2em; /* Larger title size */
  color: black; /* A more subtle color */
  margin-top: 20px;
  margin-left: 40px;
}




body, html {
  font-family: 'Arial', sans-serif; /* Use a modern sans-serif font */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light background for a modern look */
}

.App {
  text-align: center;
}




/* Profile and Posts Section */
.profile-section, .posts-section {
  margin-bottom: 30px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* Scroll Box Styles */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.scroll-box-container {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-color: white;
}

.box-description {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}


.section-title {
  font-size: 2em;
  color: #34495e;
  margin-bottom: 15px;
}

.profile-info, .post-info {
  font-size: 1.2em;
  color: #333;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}


/* Media Queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}



.scroll-boxes {
  margin-top: 20px;
}






.platform-selection-box {
  background-color: #fff; /* White background */
  padding: 20px;
  margin-right: auto;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  text-align: center; /* Center the text and icons */
  max-width: 400px; /* Or any max-width that fits your design */
}

.platform-selection-text {
  margin-bottom: 20px; /* Space between text and icons */
  font-size: 1.2em; /* Larger text size */
  color: #333; /* Dark grey color for text */
}

.platform-icons img {
  cursor: pointer;
  margin: 10px;
  width: 40px; /* Adjust as needed */
  height: auto;
  /* You may add transition for a smooth effect on click or hover */
}

/* Continue with rest of your styles */




.posts-container {
  background-color: #fff; /* White background */
  padding: 20px;
  margin: 25px 0px 20px 20px; /* Adjust margins: top right bottom left */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  max-width: 600px; /* Or any max-width that fits your design */
  min-height: 490px; /* Or any height that fits your design */
  text-align: left; /* Align the text to the left */
}







.dashboard-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.platform-selection-box, .profile-display-container {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.platform-selection-box {
  width: 300px;
  flex: 1; /* Flex grow ratio */
  margin-right: 10px; /* Additional margin to separate the two boxes */
}

.profile-display-container {

  text-align: left;
}

